<div class="cart-container">
  <div class="row">
    <div class="col-md-7 cart-panel">
      <app-cart-item
        *ngFor="let item of cartItems"
        [item]="item"
        (quantityChanged)="onQuantityChanged($event)"
        (itemDeleted)="onItemDeleted($event)"
      ></app-cart-item>

      <div class="total-price">Total: ${{ totalPrice() }}</div>
    </div>
    <div class="col-md-5 cart-panel">
      <form #form="ngForm" class="form-group" (ngSubmit)="submitOrder()">
        <label for="fullName" class="form-margin">Full name</label>
        <input
          id="fullName"
          type="text"
          class="form-control form-margin"
          placeholder="(minimum 3 characters)"
          name="fullName"
          required
          minlength="3"
          [(ngModel)]="fullName"
        />
        <label for="address" class="form-margin">Address</label>
        <input
          id="address"
          type="text"
          class="form-control form-margin"
          placeholder="(minimum 6 characters)"
          name="address"
          required
          minlength="6"
          [(ngModel)]="address"
        />
        <label for="cardNumber" class="form-margin">Credit card number</label>
        <!-- TODO: pattern validation 16digits -->
        <input
          id="cardNumber"
          type="text"
          class="form-control form-margin"
          placeholder="16 digits number"
          name="cardNumber"
          required
          pattern="[0-9]*"
          [(ngModel)]="cardNumber"
        />
        <!-- TODO: no product validation -->
        <input
          type="submit"
          class="btn btn-primary form-margin"
          value="Submit"
          [disabled]="form.invalid"
        />
      </form>
    </div>
  </div>
</div>
