<!-- product-list-item.component.html -->
<!-- TODO: create product detail screen -->
<!-- TODO: add link to product detail screen -->
<div class="product-container">
  <img [src]="product.url" alt="{{ product.name }}" class="product-image" />
  <p>{{ product.name }}</p>
  <p>${{ product.price }}</p>
  <select class="select-input" [(ngModel)]="selectedQuantity">
    <option
      *ngFor="let num of [].constructor(10); let i = index"
      [value]="i + 1"
    >
      {{ i + 1 }}
    </option>
  </select>
  <button
    class="btn btn-primary"
    (click)="addToCart(product, selectedQuantity)"
  >
    Add to Cart
  </button>
</div>
